@model ContatoViewModel;

<div id="corpo">
    <div class="container d-flex flex-column justify-content-center align-items-center" id="container">

        <h1>Seu contato foi enviado com sucesso!</h1>

        <form class="d-flex flex-column justify-content-center align-items-center" asp-action="EnviarContato"
            asp-controller="Contato" method="post" id="formContato">
            <fieldset disabled>
                <div class="row mb-4">
                    <div class="form-group col-4">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Seu nome" asp-for="Nome"
                            required>
                    </div>
                    <div class="form-group col-4">
                        <label for="telefone">Telefone (Celular ou Fixo)</label>
                        <input type="tel" class="form-control" id="telefone" placeholder="(xx)xxxxx-xxxx"
                            asp-for="Telefone" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com"
                            asp-for="Email" required>
                    </div>
                </div>
                <div class="form-group mb-4 w-75">
                    <label for="motivoContato">Motivo do Contato</label>
                    <select class="form-control" id="motivoContato" asp-for="Motivo" required>
                        <option value="" disabled selected>@Model.Motivo</option>
                    </select>
                </div>
                <div class="form-group mb-4 w-75">
                    <label for="mensagem">Contato</label>
                    <textarea class="form-control" id="mensagem" rows="4" placeholder="Escreva sua mensagem aqui..."
                        asp-for="Descricao" required></textarea>
                </div>
            </fieldset>
        </form>

        <h4 class="fs-6">Entraremos em contato através do telefone ou e-mail disponibilizados.</h4>

        <button class="btn btn-secondary mt-4" id="btnVoltar">Voltar</button>
    </div>
</div>
