@{
    ViewData["Title"] = "Painel do Usuário";
}


<a asp-action="AdicionarEventos" asp-controller="Eventos">Adicionar</a>
<a asp-action="EditarEventos" asp-controller="Eventos">Editar</a>
<a asp-action="ExcluirEventos" asp-controller="Eventos">Excluir</a>
<a asp-action="ListarEventos" asp-controller="Eventos">Listar</a>