<div id="corpo">
    <div class="container d-flex justify-content-center align-items-center" id="container"">
        <div class="mx-auto" id="sobre-box">
            <div id="sobre-box-title">
                <h2>Sobre nós</h2>
            </div>
            <div id="sobre-box-text">
                <p>
                    Música Em Ação é uma plataforma dedicada à divulgação de eventos e projetos culturais gratuitos relacionados
                    à música. Idealizado por um experiente músico e professor de música com mais de 10 anos de atuação na
                    educação musical, nosso projeto nasceu do desejo de promover a inclusão social e o desenvolvimento cultural
                    em comunidades vulneráveis.
                </p>
                <p>
                    Ao longo de sua carreira, nosso fundador esteve à frente de diversos projetos culturais, como baterias de
                    samba, percussão corporal e produção musical. Sua expertise em combinar habilidades musicais e pedagógicas
                    resulta em iniciativas transformadoras que conectam e engajam pessoas, promovendo o acesso à cultura e à
                    educação musical.
                </p>
                <p>
                    Nosso público-alvo inclui instituições culturais, professores de música, comunidades carentes, participantes
                    dos projetos (crianças, jovens, adultos) e patrocinadores e apoiadores culturais. Com uma interface simples
                    e intuitiva, nossa plataforma facilita a conexão entre professores e público, além de promover uma maior
                    visibilidade para os projetos através da integração com redes sociais.
                </p>
                <p>
                    Nosso objetivo é oferecer um espaço acessível para que instituições e educadores possam divulgar seus
                    projetos, alcançando um público mais amplo e engajando a comunidade em torno da música e da cultura.
                    Acreditamos no poder transformador da música e trabalhamos para que mais pessoas possam ter acesso a essas
                    experiências enriquecedoras.
                </p>
            </div>
        </div>
    </div>
</div>
